<div class="container">
<%= form_for  do |f| %>
<div class="form-group">
 <%= f.label :frist_name%>
 <%= f.text_field :field_1, class: "form-control" %>
</div>
 <div class="form-group">
   <label for="user_email">Email</label>
   <input type="email" class="form-control" id="user_email" placeholder="jairo@email.com">
 </div>
 <div class="form-group">
   <label for="user_password">Password</label>
   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="user_password">
 </div>
 <button type="submit" class="btn btn-default">Submit</button>
<% end %>
</div>
